# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Sensitive variable files
terraform.tfvars
*.auto.tfvars

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/